@import "./legacy/common.css";
@import "./legacy/main.css";
@import "./legacy/responsive.css";
@import "./feed-overrides.css";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}
